In [1]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [2]:
data = []

for i in tqdm(range(1,51)):        # Going through each page one by one

    link = 'https://books.toscrape.com/catalogue/page-' + str(i) + '.html'     # Creating link for each page

    res = requests.get(link)                                                   # Sending Request to the link
    soup = BeautifulSoup(res.text, 'html.parser')                              # Creating a soup for that page
    
    
    for sp in soup.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    
        img_link   = 'https://books.toscrape.com/' + sp.find('img').get('src')[3:]
        book_link  = 'https://books.toscrape.com/catalogue/' + sp.find_all('a')[-1].get('href')
        title      = sp.find_all('a')[-1].get('title')
        rating     = sp.find('p').get('class')[-1]
        price      = sp.find('p',class_ = 'price_color').text[2:]
        stock      = sp.find('p', class_ = 'instock availability').text.strip()

        data.append([title, rating, price, stock, book_link, img_link])        # Saving scraped data in a list

100%|██████████| 50/50 [01:06<00:00,  1.34s/it]

In [3]:
len(data)

1000

In [4]:
df = pd.DataFrame(data, columns = ['title', 'rating', 'price', 'stock', 'book_link','img_link'])

In [5]:
df.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [6]:
df.to_csv('books.csv', index = False)

In [7]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

df = pd.read_csv('books.csv')
df.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [8]:
data = []

for link in tqdm(df['book_link']):
    
    res = requests.get(link)
    soup = BeautifulSoup(res.text, 'html.parser')
    
    typ = soup.find('ul', class_ = 'breadcrumb').find_all('a')[2].text
    
    upc      = soup.find('table', class_ = 'table table-striped').find_all('td')[0].text
    price_x  = soup.find('table', class_ = 'table table-striped').find_all('td')[2].text[2:]
    price_i  = soup.find('table', class_ = 'table table-striped').find_all('td')[3].text[2:]
    tax      = soup.find('table', class_ = 'table table-striped').find_all('td')[4].text[2:]
    qn       = soup.find('table', class_ = 'table table-striped').find_all('td')[5].text
    reviews  = soup.find('table', class_ = 'table table-striped').find_all('td')[6].text
    
    data.append([typ, price_x, price_i, tax, qn, upc, reviews])

100%|██████████| 1000/1000 [16:40<00:00,  1.00s/it]

In [9]:
df = pd.DataFrame(data, columns = ['category','price_e_tax', 'price_i_tax', 'tax', 'quantity', 'upc', 'reviews'])

df.head()

,category,price_e_tax,price_i_tax,tax,quantity,upc,reviews
0,Poetry,51.77,51.77,0.00,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,53.74,53.74,0.00,In stock (20 available),90fa61229261140a,0
2,Fiction,50.10,50.10,0.00,In stock (20 available),6957f44c3847a760,0
3,Mystery,47.82,47.82,0.00,In stock (20 available),e00eb4fd7b871a48,0
4,History,54.23,54.23,0.00,In stock (20 available),4165285e1663650f,0

In [10]:
df.to_csv('data.csv', index = False)

In [11]:
df_1 = pd.read_csv('books.csv')
df_2 = pd.read_csv('data.csv')

# Creating New DataFrame

In [12]:
df = pd.DataFrame()

df['title']         = df_1['title']
df['upc']           = df_2['upc']
df['category']      = df_2['category']
df['price_e_tax']   = df_2['price_e_tax']
df['price_i_tax']   = df_2['price_i_tax']
df['tax']           = df_2['tax']
df['rating']        = df_1['rating']
df['reviews']       = df_2['reviews']
df['quantity']      = df_2['quantity']
df['stock']         = df_1['stock']

df['book_link']     = df_1['book_link']
df['img_link']      = df_1['img_link']

In [13]:
df.head()

,title,upc,category,price_e_tax,price_i_tax,tax,rating,reviews,quantity,stock,book_link,img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,51.77,51.77,0.0,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,53.74,53.74,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,6957f44c3847a760,Fiction,50.10,50.10,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,47.82,47.82,0.0,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,54.23,54.23,0.0,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [14]:
df.to_csv('final.csv', index = False)